<h1>Listing people</h1>
<%= button_to 'Generate Sample Data', sample_people_path, :method => :post %>

<%= button_to 'New person', new_person_path, :method => :get %>
<%= will_paginate @people %>
<table>
  <tr>
    <th>First name</th>
    <th>Surname</th>
    <th>Birthday</th>
    <th>Job</th>
  </tr>

  <% @people.each do |person| %>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.surname %></td>
    <td><%=h person.birthday %></td>
    <td><%=h person.job %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<div id="placeholder"></div>

<%=
  require 'color'

  # Construction of canvas via div id or by specifying coordinates
  steps = @surname_pop.length
  step = 1.0 / steps
  colors = []
  g = 1.0
  steps.times do 
    colors << Color::GrayScale.new(g * 100)
    g -= step
  end
  second_colors = []
  colour_step = step * 360
  cur_col = 0
  i = 0
  red = Color::HSL.new(0, 75, 75)
  steps.times do
    second_colors << colors[i].to_hsl.mix_with(red, 0.75)
    cur_col += colour_step
    i += 1
  end
  canvas('placeholder', 500, 400) do |canvas|
    options =  {:colors => [colors.collect {|c| c.html}, second_colors.collect {|c| c.html}], :id => 'surname_bars', :axis => true, :y_stroke_color => 'Silver', :stacked => true}
    options[:bars] = {:stroke => 'black'}
    options[:hover_flags] = true
    options[:x_labels] = {:isBottom => true, :angle => 0}
    options[:y_labels] = 10
    options[:font] = '9pt Helvetica'
    fakes = []
    steps.times {fakes << 25}
    bars = canvas.barchart(50, 50, 450, 300, @surname_pop.keys, [@surname_pop.values, fakes], options)
  end
%>

<table>
  <% @surname_pop.each do |surname, pop| %>
  <tr>
    <td><%= h surname %></td>
    <td><%= h pop %></td>
  </tr>
  <% end %>
</table>

<div id="holder"></div>
