<h1>Listing people</h1>
<%= button_to 'New person', new_person_path, :method => :get %>
<%= will_paginate @people %>
<table>
  <tr>
    <th>First name</th>
    <th>Surname</th>
    <th>Birthday</th>
    <th>Job</th>
  </tr>

  <% @people.each do |person| %>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.surname %></td>
    <td><%=h person.birthday %></td>
    <td><%=h person.job %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<div id="placeholder"></div>

<%=
  # Construction of canvas via div id or by specifying coordinates
  canvas('placeholder', 400, 400) do |canvas|
    canvas << "var fin = function () {
        this.flag = #{canvas.name}.g.popup(this.bar.x, this.bar.y, this.bar.value || '0').insertBefore(this);
    },
    fout = function () {
        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    };"
    bars = canvas.barchart(50, 50, 300, 300, [@surname_pop.values], {:fill => '#CC0000', :id => 'surname_bars', :axis => true, :y_stroke_color => 'Silver'})
    canvas << "surname_bars.bars.attr({stroke: 'black'});"
    canvas << "surname_bars.hover(fin, fout);"
    canvas << "surname_bars.xlabels(#{@surname_pop.keys.to_json}, true, null, -90);"
    canvas << "surname_bars.ylabels();"
    canvas << "surname_bars.labels.attr('font', '9px Georgia');"
  end
%>

<table>
  <% @surname_pop.each do |surname, pop| %>
  <tr>
    <td><%= h surname %></td>
    <td><%= h pop %></td>
  </tr>
  <% end %>
</table>

<div id="holder"></div>
